<!-- views/orders/new.ejs -->

<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/nav') %>

        <div class="container mb-3">

            <nav aria-label="breadcrumb">
                <!-- 1 -->
                <ol class="breadcrumb p-1 pl-2 pr-2">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/orders">Board</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Edit Order</li>
                </ol>
            </nav>

            <form action="/orders/<%= order._id %>?_method=put" method="post">

                <div class="form-group">
                    <label for="title">제목</label>
                    <input type="text" id="title" name="title" value="<%= order.title %>" class="form-control">
                </div>

                <div class="form-group">
                    <label for="goods">EVENT</label>
                    <input type="text" id="goods" name="goods" value="<%= order.goods %>" readonly class="form-control">
                </div>

                <div class="form-group">
                    <label for="name">트윗 아이디 (필수) (ex) @ARTCARPETBOMB</label>
                    <input id="name" name="name" value="<%= order.name %>" class="form-control <%= (errors.name)?'is-invalid':'' %>">
                    <% if(errors.name){ %>
                        <span class="invalid-feedback"><%= errors.name.message %></span>
                    <% } %>
                </div>

                <div class="form-group">
                    <label for="name">카카오톡 닉네임 (필수)</label>
                    <input id="kakao" name="kakao" value="<%= order.kakao %>" class="form-control <%= (errors.kakao)?'is-invalid':'' %>">
                    <% if(errors.kakao){ %>
                        <span class="invalid-feedback"><%= errors.kakao.message %></span>
                    <% } %>
                </div>

                <div class="form-group">
                    <label for="phone1">가지고 계신 픽셀캣 번호를 하나만 적어주세요 (필수)</label>
                    <input id="phone1" name="phone1" value="<%= order.phone1 %>" class="form-control <%= (errors.phone1)?'is-invalid':'' %>">
                    <% if(errors.phone1){ %>
                        <span class="invalid-feedback"><%= errors.phone1.message %></span>
                    <% } %>
                </div>

                <div class="form-group">
                    <label for="phone2">PALA 텔레그램방에 들어간 뒤 아래에 본인 텔레그램 아이디 기재 (필수) <a href="https://t.me/attention_pala">https://t.me/attention_pala</a></label>
                    <input id="phone2" name="phone2" value="<%= order.phone2 %>" class="form-control">
                </div>

                <div class="form-group">
                    <label for="address">고양이로 삼행시를 지어주세요. 운영진이 인정하는 센스있는 한분에게는 추첨 에드와는 별도로 NFT 한개를 드리겠습니다. (선택)</label>
                    <input id="address" name="address" value="<%= order.address %>" class="form-control <%= (errors.address)?'is-invalid':'' %>">
                    <% if(errors.address){ %>
                        <span class="invalid-feedback"><%= errors.address.message %></span>
                    <% } %>
                </div>

                <div class="form-group">
                    <label for="message">픽셀캣에게 하고 싶은 한마디 (선택)</label>
                    <input id="message" name="message" value="<%= order.message %>" class="form-control">
                </div>

                <div class="form-group">
                    <label for="wallet">지갑 주소</label>
                    <input id="wallet" name="wallet" value="<%= order.wallet %>" readonly class="form-control">
                </div>

                <div>
                    <a class="btn btn-primary" href="/orders">Back</a>
                    <button type="submit" class="btn btn-primary">Edit</button>
                    <a class="btn btn-primary" href="javascript:void(0)" onclick="confirm('소모된 MIX는 반환이 불가합니다. 정말로 삭제합니까?')?$('#deleteForm').submit():null;">Delete</a>
                </div>

            </form>

            <form action="/orders/<%= order._id %>?_method=delete" method="post" id="deleteForm" class="d-inline">
                <input id="wallet" name="wallet" value="<%= order.wallet %>" style="display:none" class="form-control">
            </form>

        </div>
    </body>

    <script>
        const wallet = $('#wallet').val();
        if (klaytn.selectedAddress == null || klaytn.selectedAddress != wallet) {
            $('#title').val('');
            $('#goods').val('');
            $('#name').val('');
            $('#kakao').val('');
            $('#phone1').val('');
            $('#phone2').val('');
            $('#address').val('');
            $('#message').val('');
            $('#wallet').val('');
            alert('카이카스 지갑 주소가 다릅니다.');
            window.location.href = '/';
        }
    </script>
</html>