<!-- views/orders/index.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <h2 class="mb-3">Goods 신청 게시판</h2>

      <table class="board-table table table-sm border-bottom">

        <thead class="thead-light">
          <tr>
            <th scope="col">Title</th>
            <th scope="col" class="date">Date</th>
          </tr>
        </thead>

        <tbody>
          <% if(orders == null || orders.length == 0){ %>
            <tr>
              <td colspan=2> There is no data to show :( </td>
            </tr>
          <% } %>
          <% orders.forEach(function(order) { %>
            <tr>
              <td>
                <a href="/orders/<%= order._id %>"><div class="ellipsis">[<%= order.goods %>] <%= order.title %></div></a>
              </td>
              <td class="date">
                <span data-date="<%= order.createdAt %>"></span>
              </td>
            </tr>
          <% }) %>
        </tbody>

      </table>
      <div>
        <label>* 본인이 작성한 글만 표시됩니다. (총 신청자 수 : <%= count %>)</label>
      </div>

      <div>
        <a class="btn btn-primary" href="/orders/new">New</a>
      </div>

    </div>
  </body>

  <script>
    $(function() {
      const wallet = '<%= wallet %>'
      if (klaytn.selectedAddress == null || klaytn.selectedAddress != wallet) {
        alert('카이카스 지갑 주소가 다릅니다.');
        window.location.href = '/';
      }
    });
  </script>
</html>