<!-- views/orders/new.ejs -->

<!DOCTYPE html>
<html>

<head>
    <script src="/js/nftChecking_b.js"></script>
    <%- include('../partials/head') %>
    
</head>

<body>
    <%- include('../partials/nav') %>

        <div class="container mb-3">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb p-1 pl-2 pr-2">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/orders">Board</a></li>
                    <li class="breadcrumb-item active" aria-current="page">New Order</li>
                </ol>
            </nav>

            <form action="/orders/new" method="post" id="newForm">

                <div class="form-group">
                    <label for="title">제목</label>
                    <input type="text" id="title" name="title" value="Airdrop Event 신청서" class="form-control">
                </div>

                <div class="form-group">
                    <label for="goods">EVENT</label>
                    <input type="text" id="goods" name="goods" value="<%= goods.name %>" readonly class="form-control">
                </div>

                <div class="form-group">
                    <label for="name">트윗 아이디 (ex) @ARTCARPETBOMB</label>
                    <input id="name" name="name" value="<%= order.name %>" class="form-control">
                    <span class="invalid-feedback">수취인은 필수 항목 입니다.</span>
                </div>

                <div class="form-group">
                    <label for="name">카카오톡 닉네임 (필수)</label>
                    <input id="kakao" name="kakao" value="<%= order.kakao %>" class="form-control">
                    <span class="invalid-feedback">카카오톡 닉네임은 필수 항목 입니다.</span>
                </div>

                <div class="form-group">
                    <label for="phone1">Pixcel Cat #</label>
                    <input id="phone1" name="phone1" value="<%= order.phone1 %>" class="form-control">
                    <span class="invalid-feedback">연락처1은 필수 항목 입니다.</span>
                </div>

                <label>고양이로 삼행시를 지어주세요 (운영진이 인정하는 센스있는 한분에게는 추첨 에드와는 별도로 NFT 한개를 드리겠습니다.)</label>

                <div class="form-group">
                    <label for="phone2">고</label>
                    <input id="phone2" name="phone2" value="<%= order.phone2 %>" class="form-control">
                </div>

                <div class="form-group">
                    <label for="address">양</label>
                    <input id="address" name="address" value="<%= order.address %>" class="form-control">
                    <span class="invalid-feedback">주소는 필수 항목 입니다.</span>
                </div>

                <div class="form-group">
                    <label for="message">이</label>
                    <input id="message" name="message" value="<%= order.message %>" class="form-control">
                </div>

                <div class="form-group">
                    <label for="wallet">지갑 주소</label>
                    <input id="wallet" name="wallet" value="<%= order.wallet %>" readonly class="form-control">
                </div>

                <div class="form-group">
                    <label><input id="agree" type="checkbox" name="agree" value="1" > 「개인정보보호법」등 관련 법규에 의거하여 상기 본인은 개인정보 수집 및 활용에 대해 동의합니다.<br>　개인 정보는 ACB Goods 발송 목적을 위해서만 사용되며, 발송이 완료된 시점에 모두 폐기 됩니다.<br>　신청시에는 일정량의 MIX가 소모됩니다.</label>
                </div>

                <div>
                    <a class="btn btn-primary" href="/orders">Back</a>
                    <button id="newSubmitBtn" type="button" class="btn btn-primary">Submit</button>
                </div>

            </form>

            <label id="mixValue" style="display: none;"><%= goods.mix %></label>
            <label id="nftContract" style="display: none;"><%= goods.nft %></label>
        </div>
    </body>
    <script src="/js/bundle.js">
    </script>
</html>