<!-- views/orders/new.ejs -->

<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head') %>
    
</head>

<body>
    <%- include('../partials/nav') %>

        <div class="container mb-3">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb p-1 pl-2 pr-2">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/orders">Board</a></li>
                    <li class="breadcrumb-item active" aria-current="page">New Order</li>
                </ol>
            </nav>

            <form action="/orders" method="post" id="newForm">

                <div class="form-group">
                    <label for="title">제목</label>
                    <input type="text" id="title" name="title" value="ACB Goods 신청서" class="form-control">
                </div>

                <div class="form-group">
                    <label for="goods">Goods</label>
                    <input type="text" id="goods" name="goods" value="Goods" readonly class="form-control">
                </div>

                <div class="form-group">
                    <label for="name">수취인 (필수)</label>
                    <input id="name" name="name" value="<%= order.name %>" class="form-control <%= (errors.name)?'is-invalid':'' %>">
                    <% if(errors.name){ %>
                        <span class="invalid-feedback"><%= errors.name.message %></span>
                    <% } %>
                </div>

                <div class="form-group">
                    <label for="phone1">연락처1 (필수)</label>
                    <input id="phone1" name="phone1" value="<%= order.phone1 %>" class="form-control <%= (errors.phone1)?'is-invalid':'' %>">
                    <% if(errors.phone1){ %>
                        <span class="invalid-feedback"><%= errors.phone1.message %></span>
                    <% } %>
                </div>

                <div class="form-group">
                    <label for="phone2">연락처2 (선택)</label>
                    <input id="phone2" name="phone2" value="<%= order.phone2 %>" class="form-control">
                </div>

                <div class="form-group">
                    <label for="address">주소 (필수)</label>
                    <input id="address" name="address" value="<%= order.address %>" class="form-control <%= (errors.address)?'is-invalid':'' %>">
                    <% if(errors.address){ %>
                        <span class="invalid-feedback"><%= errors.address.message %></span>
                    <% } %>
                </div>

                <div class="form-group">
                    <label for="message">배송 메세지 (선택)</label>
                    <input id="message" name="message" value="<%= order.message %>" class="form-control">
                </div>

                <div class="form-group">
                    <label for="wallet">지갑 주소</label>
                    <input id="wallet" name="wallet" value="<%= order.wallet %>" readonly class="form-control">
                </div>

                <div class="form-group">
                    <label><input id="agree" type="checkbox" name="agree" value="1" > 「개인정보보호법」등 관련 법규에 의거하여 상기 본인은 개인정보 수집 및 활용에 대해 동의합니다.<br>　개인 정보는 ACB Goods 발송 목적을 위해서만 사용되며, 발송이 완료된 시점에 모두 폐기 됩니다.<br>　신청시에는 일정량의 MIX가 소모됩니다.</label>
                </div>

                <div>
                    <a class="btn btn-primary" href="/orders?wallet=<%= order.wallet %>">Back</a>
                    <button id="newSubmitBtn" type="button" class="btn btn-primary">Submit</button>
                </div>

            </form>

        </div>
    </body>
    <script src="/js/bundle.js"></script>
</html>