<!-- views/orders/new.ejs -->

<!DOCTYPE html>
<html>

<head>
    <script src="/js/nftChecking_b.js"></script>
    <%- include('../partials/head') %>
    
</head>

<body>
    <%- include('../partials/nav') %>

        <div class="container mb-3">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb p-1 pl-2 pr-2">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/orders">Board</a></li>
                    <li class="breadcrumb-item active" aria-current="page">New Order</li>
                </ol>
            </nav>

            <form action="/orders/new" method="post" id="newForm">

                <div class="form-group">
                    <label for="title">제목</label>
                    <input type="text" id="title" name="title" value="Airdrop Event 신청서" class="form-control">
                </div>

                <div class="form-group">
                    <label for="goods">EVENT</label>
                    <input type="text" id="goods" name="goods" value="<%= goods.name %>" readonly class="form-control">
                </div>

                <div class="form-group">
                    <label for="name">트윗 아이디 (필수) (ex) @ARTCARPETBOMB</label>
                    <input id="name" name="name" value="<%= order.name %>" class="form-control">
                    <span class="invalid-feedback">수취인은 필수 항목 입니다.</span>
                </div>

                <div class="form-group">
                    <label for="name">카카오톡 닉네임 (필수)</label>
                    <input id="kakao" name="kakao" value="<%= order.kakao %>" class="form-control">
                    <span class="invalid-feedback">카카오톡 닉네임은 필수 항목 입니다.</span>
                </div>

                <div class="form-group">
                    <label for="phone1">가지고 계신 픽셀캣 번호를 하나만 적어주세요 (필수)</label>
                    <input id="phone1" name="phone1" value="<%= order.phone1 %>" class="form-control">
                    <span class="invalid-feedback">연락처1은 필수 항목 입니다.</span>
                </div>

                <label>고양이로 삼행시를 지어주세요. 운영진이 인정하는 센스있는 한분에게는 추첨 에드와는 별도로 NFT 한개를 드리겠습니다. (선택)</label>

                <div class="form-group">
                    <label for="phone2">고</label>
                    <input id="phone2" name="phone2" value="<%= order.phone2 %>" class="form-control">
                </div>

                <div class="form-group">
                    <label for="address">양</label>
                    <input id="address" name="address" value="<%= order.address %>" class="form-control">
                    <span class="invalid-feedback">주소는 필수 항목 입니다.</span>
                </div>

                <div class="form-group">
                    <label for="message">이</label>
                    <input id="message" name="message" value="<%= order.message %>" class="form-control">
                </div>

                <div class="form-group">
                    <label for="wallet">지갑 주소</label>
                    <input id="wallet" name="wallet" value="<%= order.wallet %>" readonly class="form-control">
                </div>

                <div class="form-group">
                    <label><input id="agree" type="checkbox" name="agree" value="1" > 해당 이벤트 신청에는 3믹스가 사용되며, 최종 80개의 NFT가 에어드랍 될 예정입니다.<br>(사용된 믹스는 모두 소각됩니다.)<br>이 중 65개는 랜덤 추첨, 15개는 특정 조건에 따른 추첨으로 이루어질 예정입니다.<br>추첨에 제외된 111개 중 남은 31개는 화이트리스트 및 운영진 물량 및 홍보 물량으로 배분될 예정입니다.</label>
                </div>

                <div>
                    <a class="btn btn-primary" href="/orders">Back</a>
                    <button id="newSubmitBtn" type="button" class="btn btn-primary">Submit</button>
                </div>

            </form>

            <label id="mixValue" style="display: none;"><%= goods.mix %></label>
            <label id="nftContract" style="display: none;"><%= goods.nft %></label>
        </div>
    </body>
    <script src="/js/bundle.js">
    </script>
</html>